go 1.19

use ../green

use ../green.encoding

use ../green.encoding.protobuf

use ../green.persistence

use ../green.persistence.esdb

use ../green.fabric

use ./api

use ./domain

use ./projection

use ./service
