go 1.19

use (
	../library/grain
	../library/grain.encoding
	../library/grain.encoding.protobuf
	../library/grain.fabric
	../library/grain.persistence
	../library/grain.persistence.esdb
)

use (
	./api
	./domain
	./projection
	./service
)
